<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/addPokemon.css">
    <script defer src="/scripts/index.js"></script>
    <script defer src="/scripts/addPokemon.js"></script>
    <title>PokeBuild</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/pokemon">List All Pokemon</a></li>
                <li><a href="/pokemon/new">Add Pokemon</a></li>
                <li><a href="/trainer/new">Add Trainer</a></li>
                <li><a href="/trainer">List All Trainer</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome To Pokedex API</h1>
        <p>Create A Pokemon.</p>
        <form id="pokemon-form">
            <div>
                <label for="pokemon-name">Name:</label>
                <input type="text" id="pokemon-name" name="pokemon-name">
            </div>
            <div>
                <label for="pokemon-type">Type:</label>
                <input type="text" id="pokemon-type" name="pokemon-type">
            </div>
            <div>
                <label for="pokemon-gender">Gender:</label>
                <input type="text" id="pokemon-gender" name="pokemon-gender">
            </div>
            <div>
                <label for="pokemon-attacks">Attacks:</label>
                <input type="text" id="pokemon-attacks" name="pokemon-attacks">
            </div>
            <div>
                <label for="pokemon-number">Pokedex Number:</label>
                <input type="number" id="pokemon-number" name="pokemon-number">
            </div>
            <div>
                <label for="pokemon-description">Description:</label>
                <input type="text" id="pokemon-description" name="pokemon-description">
            </div>
            <div>
                <label for="pokemon-weakness">Weakness:</label>
                <input type="text" id="pokemon-weakness" name="pokemon-weakness">
            </div>
            <button id="add-pokemon-btn" type="button">Add Pokemon:</button>
        </form>
    </main>
</body>
</html>