<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="styles/addTrainer.css">
    <script defer src="/scripts/index.js"></script>
    <script defer src="/scripts/addTrainer.js"></script>
    <title>PokeBuild</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/pokemon">List All Pokemon</a></li>
                <li><a href="/pokemon/new">Add Pokemon</a></li>
                <li><a href="/trainer/new">Add Trainer</a></li>
                <li><a href="/trainer">List All Trainer</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>List All Pokemon</h1>
        <p></p>
    </main>
</body>
</html>