<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/listPokemon.css">
    <script defer src="/scripts/index.js"></script>
    <script defer src="/scripts/listPokemon.js"></script>
    <title>PokeBuild</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/pokemon">List All Pokemon</a></li>
                <li><a href="/pokemon/new">Add Pokemon</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome To Pokedex API</h1>
        <p>List all Pokemon.</p>
        <ul id="pokemon-list"></ul>
        <ul id="lookup-list"></ul>
    </main>
</body>
</html>